doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Security-Policy" content="script-src 'self' ")
        script(src="https://kit.fontawesome.com/1737127eac.js", crossorigin="anonymous")/script
        title | Wetube
    body
        header 
            i.fab.fa-youtube
            h1 Wetube
        main
            block content
        include ../partials/footer  